@import './abstracts/mixins';
@import './abstracts/veriables';

@import './base/base';
@import './base/typography';
@import './base/utilities';
@import './base/animations';

@import "./layout//navigation";
@import './layout/header';
@import './layout/grid';

@import './components/button';
@import './components/composition';
@import './components/feature-box';
@import './components/card';
@import './components/bg-videos';
@import './components/story';

@import './pages/home';